/* Food and Beverages */

/*  Div Food and Beverages */

#divFoodAndBeveragesImage{
    background-image: url("./images/foodAndBeverages.jpg");
    width: 100%;
}

/* Card Food and Beverages */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#foodFlipCard{
    width: 300px;
    height: 350px;
}
  
#foodFlipCardBack{
    background-color: rosybrown;
}
  
/* Grid */
  
#foodGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingFood{
    color: black;
}
  
#foodHeading{
    font-size: 30px;
    font-family: "Bahnschrift SemiBold";
}
  
/* Search Form */
  
#foodSearchForm{
    margin-left: 65%;
    width: 35%;
}

#foodSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Food and Beverages */
  
#buttonFood{
    background-color: black;
    color: rosybrown;
    width: 45%;
}
  
/* Span Food and Beverages */
  
#foodSpan{
    text-decoration: line-through red;
}
  
/* Div Food and Beverages */
  
#divFood {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Nutrition and Health Care */

/*  Div Nutrition and Health Care */

#divNutritionAndHealthCareImage{
    background-image: url("./images/nutritionAndHealthCare.jpg");
    width: 100%;
}

/* Card Nutrition and Health Care */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#healthCareFlipCard{
    width: 300px;
    height: 300px;
}
  
#healthCareFlipCardBack{
    background-color: tomato;
}
  
/* Grid */
  
#healthCareGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingHealthCare{
    color: black;
}
  
#healthCareHeading{
    font-size: 30px;
    font-family: "Bodoni MT";
}
  
/* Search Form */
  
#healthCareSearchForm{
    margin-left: 55%;
    width: 45%;
}

#healthCareSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Nutrition and Health Care */
  
#buttonHealthCare{
    background-color: black;
    color: tomato;
    width: 45%;
}
  
/* Span Nutrition and Health Care */
  
#healthCareSpan{
    text-decoration: line-through red;
}
  
/* Div Nutrition and Health Care */
  
#divHealthCare {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Sports and Fitness */

/*  Div Sports and Fitness */

#divSportsAndFitnessImage{
    background-image: url("./images/sportsAndFitness.jpg");
    width: 100%;
}

/* Card Sports and Fitness */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#sportsFitnessFlipCard{
    width: 300px;
    height: 300px;
}
  
#sportsFitnessFlipCardBack{
    background-color: powderblue;
}
  
/* Grid */
  
#sportsFitnessGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingSportsFitness{
    color: black;
}
  
#sportsFitnessHeading{
    font-size: 30px;
    font-family: "Cambria";
}
  
/* Search Form */
  
#sportsFitnessSearchForm{
    margin-left: 66%;
    width: 35%;
}

#sportsFitnessSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Sports and Fitness */
  
#buttonSportsFitness{
    background-color: black;
    color: powderblue;
    width: 45%;
}
  
/* Span Sports and Fitness */
  
#sportsFitnessSpan{
    text-decoration: line-through red;
}
  
/* Div Sports and Fitness */
  
#divSportsFitness {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Auto Accessories */

/*  Div Auto Accessories */

#divAutoAccessoriesImage{
    background-image: url("./images/autoAccessories.jpg");
    width: 100%;
}

/* Card Auto Accessories */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#autoAccessoriesFlipCard{
    width: 300px;
    height: 350px;
}
  
#autoAccessoriesFlipCardBack{
    background-color: rgb(90, 62, 90);
}
  
/* Grid */
  
#autoAccessoriesGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingAutoAccessories{
    color: black;
}
  
#autoAccessoriesHeading{
    font-size: 30px;
    font-family: "Constantia";
}
  
/* Search Form */
  
#autoAccessoriesSearchForm{
    margin-left: 65%;
    width: 35%;
}

#autoAccessoriesSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Auto Accessories */
  
#buttonAutoAccessories{
    background-color: black;
    color: rgb(90, 62, 90);
    width: 45%;
}
  
/* Span Auto Accessories */
  
#autoAccessoriesSpan{
    text-decoration: line-through red;
}
  
/* Div Auto Accessories */
  
#divAutoAccessories {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Pet Supplies */

/*  Div Pet Supplies */

#divPetSuppliesImage{
    background-image: url("./images/petSupplies.jpg");
    width: 100%;
}

/* Card Pet Supplies */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#petSuppliesFlipCard{
    width: 300px;
    height: 300px;
}
  
#petSuppliesFlipCardBack{
    background-color: rgb(116, 164, 6);
}
  
/* Grid */
  
#petSuppliesGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingPetSupplies{
    color: black;
}
  
#petSuppliesHeading{
    font-size: 30px;
    font-family: "Gabriola";
}
  
/* Search Form */
  
#petSuppliesSearchForm{
    margin-left: 68%;
    width: 35%;
}

#petSuppliesSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Pet Supplies */
  
#buttonPetSupplies{
    background-color: black;
    color: rgb(116, 164, 6);
    width: 45%;
}
  
/* Span Pet Supplies */
  
#petSuppliesSpan{
    text-decoration: line-through red;
}
  
/* Div Pet Supplies */
  
#divPetSupplies {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}