/* Skin Care */

/*  Div Skin Care */

#divSkinCareImage{
    background-image: url("./images/skinCare.jpg");
    width: 100%;
}

/* Card Skin Care */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#skinCareFlipCard{
    width: 300px;
    height: 300px;
}
  
#skinCareFlipCardBack{
    background-color: wheat;
}
  
/* Grid */
  
#skinCareGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingSkinCare{
    color: black;
}
  
#skinCareHeading{
    font-size: 30px;
    font-family: "Calibri";
}
  
/* Search Form */
  
#skinCareSearchForm{
    margin-left: 69%;
    width: 32%;
}

#skinCareSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Skin Care */
  
#buttonSkinCare{
    background-color: black;
    color: wheat;
    width: 45%;
}
  
/* Span Skin Care */
  
#skinCareSpan{
    text-decoration: line-through red;
}
  
/* Div Skin Care */
  
#divSkinCare {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Hair Care */

/*  Div Hair Care */

#divHairCareImage{
    background-image: url("./images/hairCare.jpg");
    width: 100%;
}

/* Card Hair Care */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#hairCareFlipCard{
    width: 300px;
    height: 300px;
}
  
#hairCareFlipCardBack{
    background-color: rgb(31, 29, 32);
}
  
/* Grid */
  
#hairCareGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingHairCare{
    color: white;
}
  
#hairCareHeading{
    font-size: 30px;
    font-family: "Century Gothic";
}
  
/* Search Form */
  
#hairCareSearchForm{
    margin-left: 68%;
    width: 35%;
}

#hairCareSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Hair Care */
  
#buttonHairCare{
    background-color: white;
    color: rgb(31, 29, 32);
    width: 45%;
}
  
/* Span Hair Care */
  
#hairCareSpan{
    text-decoration: line-through red;
}
  
/* Div Hair Care */
  
#divHairCare {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Makeup */

/*  Div Makeup */

#divMakeupImage{
    background-image: url("./images/makeup.jpg");
    width: 100%;
}

/* Card Makeup */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#makeupFlipCard{
    width: 300px;
    height: 300px;
}
  
#makeupFlipCardBack{
    background-color: rgb(203, 123, 244);
}
  
/* Grid */
  
#makeupGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingMakeup{
    color: black;
}
  
#makeupHeading{
    font-size: 30px;
    font-family: "Bodoni MT";
}
  
/* Search Form */
  
#makeupSearchForm{
    margin-left: 68%;
    width: 35%;
}

#makeupSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Makeup */
  
#buttonMakeup{
    background-color: black;
    color: rgb(203, 123, 244);
    width: 45%;
}
  
/* Span Makeup */
  
#makeupSpan{
    text-decoration: line-through red;
}
  
/* Div Makeup */
  
#divMakeup {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Fragrances */

/*  Div Fragrances */

#divFragrancesImage{
    background-image: url("./images/fragrances.jpg");
    width: 100%;
}

/* Card Fragrances */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#fragranceFlipCard{
    width: 300px;
    height: 300px;
}
  
#fragranceFlipCardBack{
    background-color: rgb(244, 232, 123);
}
  
/* Grid */
  
#fragranceGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingFragrance{
    color: black;
}
  
#fragranceHeading{
    font-size: 30px;
    font-family: "Cambria";
}
  
/* Search Form */
  
#fragranceSearchForm{
    margin-left: 68%;
    width: 35%;
}

#fragranceSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Fragrances */
  
#buttonFragrance{
    background-color: black;
    color: rgb(244, 232, 123);
    width: 45%;
}
  
/* Span Fragrances */
  
#fragranceSpan{
    text-decoration: line-through red;
}
  
/* Div Fragrances */
  
#divFragrance {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Daily Essentials */

/*  Div Daily Essentials */

#divDailyEssentialsImage{
    background-image: url("./images/dailyEssentials.jpg");
    width: 100%;
}

/* Card Daily Essentials */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#dailyEssentialFlipCard{
    width: 300px;
    height: 330px;
}
  
#dailyEssentialFlipCardBack{
    background-color: rgb(91, 64, 56);
}
  
/* Grid */
  
#dailyEssentialGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingDailyEssential{
    color: black;
}
  
#dailyEssentialHeading{
    font-size: 30px;
    font-family: "Garamond";
}
  
/* Search Form */
  
#dailyEssentialSearchForm{
    margin-left: 65%;
    width: 35%;
}

#dailyEssentialSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Daily Essentials */
  
#buttonDailyEssential{
    background-color: black;
    color: rgb(91, 64, 56);
    width: 45%;
}
  
/* Span Daily Essentials */
  
#dailyEssentialSpan{
    text-decoration: line-through red;
}
  
/* Div Daily Essentials */
  
#divDailyEssential {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Men's Grooming */

/*  Div Men's Grooming */

#divMenGroomingImage{
    background-image: url("./images/menGrooming.jpg");
    width: 100%;
}

/* Card Men's Grooming */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#groomingFlipCard{
    width: 300px;
    height: 300px;
}
  
#groomingFlipCardBack{
    background-color: rgb(0, 157, 76);
}
  
/* Grid */
  
#groomingGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingGrooming{
    color: black;
}
  
#groomingHeading{
    font-size: 30px;
    font-family: "Georgia";
}
  
/* Search Form */
  
#groomingSearchForm{
    margin-left: 65%;
    width: 35%;
}

#groomingSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Men's Grooming */
  
#buttonGrooming{
    background-color: black;
    color: rgb(0, 157, 76);
    width: 45%;
}
  
/* Span Men's Grooming */
  
#groomingSpan{
    text-decoration: line-through red;
}
  
/* Div Men's Grooming */
  
#divGrooming {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Oral Care */

/*  Div Oral Care */

#divOralCareImage{
    background-image: url("./images/oralCare.jpg");
    width: 100%;
}

/* Card Oral Care */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#oralCareFlipCard{
    width: 300px;
    height: 300px;
}
  
#oralCareFlipCardBack{
    background-color: rgb(0, 68, 171);
}
  
/* Grid */
  
#oralCareGrid{
    margin-top: 10px;
    margin-left: 10px;
    column-gap: 50px;
}
  
/* Heading Tag */
  
#headingOralCare{
    color: black;
}
  
#oralCareHeading{
    font-size: 30px;
    font-family: "Trebuchet MS";
}
  
/* Search Form */
  
#oralCareSearchForm{
    margin-left: 68%;
    width: 35%;
}

#oralCareSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Oral Care */
  
#buttonOralCare{
    background-color: black;
    color: rgb(0, 68, 171);
    width: 45%;
}
  
/* Span Oral Care */
  
#oralCareSpan{
    text-decoration: line-through red;
}
  
/* Div Oral Care */
  
#divOralCare {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}