/* Appliances */

/* Smart TVs */

/* Div Smart TVs */

#divSmartTvImage{
    background-image: url("./images/tv.jpg");
    width: 100%;
}

/* Card Smart TVs */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#tvFlipCard{
    width: 300px;
    height: 320px;
}
  
#tvFlipCardBack{
    background-color: royalblue;
}
  
/* Grid */
  
#tvGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingTv{
    color: black;
}
  
#tvHeading{
    font-size: 30px;
    font-family: "Century Gothic";
}
  
/* Search Form */
  
#tvSearchForm{
    margin-left: 68%;
    width: 35%;
}

#tvSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
  
/* Button Smart TVs */
  
#buttonTv{
    background-color: black;
    color: royalblue;
    width: 45%;
}
  
/* Span Smart TVs */
  
#tvSpan{
    text-decoration: line-through red;
}
  
/* Div Smart TVs */
  
#divTv {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Washing Machine */

/* Div Washing Machine */

#divWashingMachineImage{
    background-image: url("./images/washingmachine.jpg");
    width: 100%;
}

/* Card Washing Machine */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#washingMachineFlipCard{
    width: 300px;
    height: 320px;
}
  
#washingMachineFlipCardBack{
    background-color: orangered;
}
  
/* Grid */
  
#washingMachineGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingWashingMachine{
    color: black;
}
  
#washingMachineHeading{
    font-size: 30px;
    font-family: "Goudy Old Style";
}
  
/* Search Form */
  
#washingMachineSearchForm{
    margin-left: 65%;
    width: 35%;
}

#washingMachineSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Washing Machine */
  
#buttonWashingMachine{
    background-color: black;
    color: orangered;
    width: 45%;
}
  
/* Span Washing Machine */
  
#washingMachineSpan{
    text-decoration: line-through rgb(241, 135, 135);
}
  
/* Div Washing Machine */
  
#divWashingMachine {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Refrigerators */

/* Div Refrigerators */

#divRefrigeratorImage{
    background-image: url("./images/fridge.jpg");
    width: 100%;
}

/* Card Refrigerators */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#fridgeFlipCard{
    width: 300px;
    height: 320px;
}
  
#fridgeFlipCardBack{
    background-color: palegreen;
}
  
/* Grid */
  
#fridgeGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingFridge{
    color: black;
}
  
#fridgeHeading{
    font-size: 30px;
    font-family: "Chalkduster";
}
  
/* Search Form */
  
#fridgeSearchForm{
    margin-left: 65%;
    width: 35%;
}

#fridgeSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Refrigerators */
  
#buttonFridge{
    background-color: black;
    color: palegreen;
    width: 45%;
}
  
/* Span Refrigerators */
  
#fridgeSpan{
    text-decoration: line-through red;
}
  
/* Div Refrigerators */
  
#divFridge {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Fans And Air Coolers */

/* Div Fans And Air Coolers */

#divFansAndAirCoolersImage{
    background-image: url("./images/fan.jpg");
    width: 100%;
}

/* Card Fans And Air Coolers */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#fanFlipCard{
    width: 300px;
    height: 320px;
}
  
#fanFlipCardBack{
    background-color: seagreen;
}
  
/* Grid */
  
#fanGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingFan{
    color: black;
}
  
#fanHeading{
    font-size: 30px;
    font-family: "Courier New";
}
  
/* Search Form */
  
#fanSearchForm{
    margin-left: 60%;
    width: 40%;
}

#fanSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Fans And Air Coolers */
  
#buttonFan{
    background-color: black;
    color: seagreen;
    width: 45%;
}
  
/* Span Fans And Air Coolers */
  
#fanSpan{
    text-decoration: line-through red;
}
  
/* Div Fans And Air Coolers */
  
#divFan {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Kitchen Appliances */

/* Div Kitchen Appliances */

#divKitchenAppliancesImage{
    background-image: url("./images/kitchen.jpg");
    width: 100%;
}

/* Card Kitchen Appliances */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#kitchenFlipCard{
    width: 300px;
    height: 320px;
}
  
#kitchenFlipCardBack{
    background-color: deeppink;
}
  
/* Grid */
  
#kitchenGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingKitchen{
    color: black;
}
  
#kitchenHeading{
    font-size: 30px;
    font-family: "Garamond";
}
  
/* Search Form */
  
#kitchenSearchForm{
    margin-left: 65%;
    width: 35%;
}

#kitchenSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Kitchen Appliances */
  
#buttonKitchen{
    background-color: black;
    color: deeppink;
    width: 45%;
}
  
/* Span Kitchen Appliances */
  
#kitchenSpan{
    text-decoration: line-through red;
}
  
/* Div Kitchen Appliances */
  
#divKitchen {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Air Conditioners */

/*  Div Air Conditioners */

#divAirConditionersImage{
    background-image: url("./images/ac.jpg");
    width: 100%;
}

/* Card Air Conditioners */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#acFlipCard{
    width: 300px;
    height: 330px;
}
  
#acFlipCardBack{
    background-color: darkkhaki;
}
  
/* Grid */
  
#acGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingAC{
    color: black;
}
  
#acHeading{
    font-size: 30px;
    font-family: Tahoma, Verdana, sans-serif;
}
  
/* Search Form */
  
#acSearchForm{
    margin-left: 65%;
    width: 35%;
}

#acSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Air Conditioners */
  
#buttonAC{
    background-color: black;
    color: darkkhaki;
    width: 45%;
}
  
/* Span Air Conditioners */
  
#acSpan{
    text-decoration: line-through red;
}
  
/* Div Air Conditioners */
  
#divAC {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Home Appliances */

/*  Div Home Appliances */

#divHomeAppliancesImage{
    background-image: url("./images/home.jpg");
    width: 100%;
}

/* Card Home Appliances */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#homeAppliancesFlipCard{
    width: 300px;
    height: 300px;
}
  
#homeAppliancesFlipCardBack{
    background-color: dodgerblue;
}
  
/* Grid */
  
#homeAppliancesGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingHomeAppliances{
    color: black;
}
  
#homeAppliancesHeading{
    font-size: 30px;
    font-family: "Rockwell";
}
  
/* Search Form */
  
#homeAppliancesSearchForm{
    margin-left: 65%;
    width: 35%;
}

#homeAppliancesSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Home Appliances */
  
#buttonHomeAppliances{
    background-color: black;
    color: dodgerblue;
    width: 45%;
}
  
/* Span Home Appliances */
  
#homeAppliancesSpan{
    text-decoration: line-through red;
}
  
/* Div Home Appliances */
  
#divHomeAppliances {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

/* Microwave Ovens */

/*  Div Microwave Ovens */

#divMicrowaveOvenImage{
    background-image: url("./images/microwave.jpg");
    width: 100%;
}

/* Card Microwave Ovens */

#cardImage{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
  
#ovenFlipCard{
    width: 300px;
    height: 300px;
}
  
#ovenFlipCardBack{
    background-color: lightcoral;
}
  
/* Grid */
  
#ovenGrid{
    margin-top: 10px;
    margin-left: 60px;
    column-gap: 20px;
}
  
/* Heading Tag */
  
#headingOven{
    color: black;
}
  
#ovenHeading{
    font-size: 30px;
    font-family: "Arial Black";
}
  
/* Search Form */
  
#ovenSearchForm{
    margin-left: 60%;
    width: 40%;
}

#ovenSearchInput{
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 5px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
/* Button Microwave Ovens */
  
#buttonOven{
    background-color: black;
    color: lightcoral;
    width: 45%;
}
  
/* Span Microwave Ovens */
  
#ovenSpan{
    text-decoration: line-through red;
}
  
/* Div Microwave Ovens */
  
#divOven {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
}